@model Lab24.Customer

@{
    ViewBag.Title = "Index";
}

<h2>Menu</h2>

<ul>
    <li>@Html.ActionLink("List", "List") </li>
    <li>@Html.ActionLink("Add", "Add")</li>
    <li>@Html.ActionLink("Delete", "Delete")
    <li>@Html.ActionLink("Modify", "Edit")</li>
</ul>

